# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
.pnpm-debug.log

# Vite / React
dist/
.vite/

# TypeScript
*.tsbuildinfo

# Env soubory
.env

# Prisma
prisma/migrations/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
